.btn-eid {
    height: 2.5em;
}

#login-title {
    font-size: 63px;
}

a.hidden-link:link, a.hidden-link:visited, a.hidden-link:hover, a.hidden-link:active {
    color: #333;
    text-decoration: none;
}

a.name-link:link, a.name-link:visited, a.name-link:hover, a.name-link:active {
    text-decoration: none;
}

.textarea-vertical {
    resize: vertical;
}

.panel-user .media-body {
    vertical-align: middle;
}

.panel-user .media-body h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.user-details .form-group {
    margin-bottom: 0;
}

.panel-user-details .btns-friend {
    margin-top: 20px;
}

/* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader-posts {
    background: url('/img/potato-48.png');
    width: 48px;
    height: 48px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn-google{
    height: 2.7em;
}

.btn-google:hover {
    box-shadow: 0 0 6px #4285F4;
}

#map {
    height:80vh
}

.no-padding {
    padding: 0 !important;
}

#loader {
    display: none;
}

.no-padding {
    padding: 0 !important;
}

.btn-modal-map {
    margin-top: -0.7em;
}

.btn-modal-map:not([data-latitude]):not([data-longitude]) .glyphicon {
    display: none;
}

legend {
    /* copied from Bootstrap's label */
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;

    /* copied and overridden from Bootstrap's legent */
    padding: inherit;
    font-size: inherit;
    color: inherit;
    border: inherit;
}

.clear-right {
    clear: right;
}

@media (max-width: 768px) {
    .unclear-right-xs {
        clear: none !important;
    }
}

.list-comments {
    margin-bottom: 0;
}

.list-comments .media {
    margin-top: 5px;
}

.body-navbar {
    padding-top: 70px;
}

.navbar .badge {
    margin-top: -3px;
}

.navbar .navbar-img-left {
    float: left;
    margin-right: 15px;
}

.navbar-brand img {
    margin-top: -13px;
    height: 48px;
}

.sitemap h1, .sitemap h2, .sitemap h3, .sitemap h4, .sitemap h5, .sitemap h6 {
    display: inline-block;
    width: 100%;
}

@media (min-width: 768px) {
    .sitemap-other {
        padding-top: 56.4px;
    }
}

.sitemap ul {
    padding-left: 20px;
}

.badge-link {
    background-color: #337ab7;
}