.btn-eid {
    height: 2.5em;
}
.panel-body  {
    word-break:break-all
}

#login-title {
    font-size: 63px;
}

a.panel-link:link, a.panel-link:visited, a.panel-link:hover, a.panel-link:active {
    color: #333;
    text-decoration: none;
}
