body {
    padding-top: 70px;
}

.navbar .badge {
    margin-top: -3px;
}

.navbar .navbar-img-left {
    float: left;
    margin-right: 15px;
}

.navbar-brand img {
    margin-top: -13px;
    height: 48px;
}