<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div class="panel panel-default" th:fragment="post(postInfo)">
    <div class="panel-heading" th:text="${postInfo.user.name}">
        <span class="pull-right">2017-02-11 15:00:00</span>
    </div>
    <div class="panel-body">
        <img src="http://placehold.it/64x64" class="pull-left" th:src="${@avatarService.getAvatarUrl(postInfo.user, 64)}">
        <p th:text="${postInfo.content}"></p>
    </div>
</div>

</body>
</html>