<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{navbar}">
<head>
    <title>feed</title>
</head>
<body>

<div layout:fragment="content">
    <script th:inline="javascript">
        var userIds = [[${userIds}]];
    </script>

    <div layout:replace="~{common :: postBasePanel(${post}, 'panel-primary')}">
        <th:block layout:fragment="content">
            <form id="post" th:action="@{/}" th:object="${post}" method="post">
                <div class="form-group">
                    <label class="sr-only" for="content">Content</label>
                    <textarea class="form-control" rows="1" id="content" th:field="*{content}"></textarea>
                </div>
                <button id="postButton" type="submit" class="btn btn-default pull-right">Post</button>
            </form>
        </th:block>
    </div>

    <div id="feed">
        <th:block th:each="post : ${posts}">
            <div th:replace="~{common :: postPanel (${post})}"></div>
        </th:block>
    </div>
    <div id="loader" class="loader-posts center-block"></div>
    <noscript>
        <div class="row text-center">
            <div class="col-md-12">
                <a class="btn btn-primary" th:href="@{/(beforePostId=${posts[posts.size()-1].id})}" th:unless="${posts.isEmpty()}" role="button">Show older posts</a>
            </div>
        </div>
    </noscript>
</div>

<th:block layout:fragment="fallback">
    <script th:src="@{/js/fallback-websocket.js}"></script>
    <script>
      fallback.load({
        feedjs: [
          '/js/feed.js'
        ]
      }, {
        shim: {
          'feedjs': ['Stomp', 'SockJS']
        }
      });
    </script>
</th:block>

</body>
</html>