<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="navbar">
<head>
    <title>feed</title>
</head>
<body>

<div layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading">New post</div>
        <div class="panel-body">
            <textarea class="form-control" rows="3"></textarea>
            <button type="submit" class="btn btn-default pull-right">Post</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Peeter Pakiraam
            <span class="pull-right">2017-02-11 15:00:00</span>
        </div>
        <div class="panel-body">
            <img src="http://placehold.it/64x64" class="pull-left">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt enim vel elit auctor tristique. Sed vel tellus id felis egestas fermentum vitae a velit. Integer aliquet nisi ac tortor aliquam, id ornare risus accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur metus eros, ullamcorper sed dui sed, facilisis congue est. Curabitur gravida vel ipsum id commodo. Nulla id ligula mollis, pretium lacus id, semper odio.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Peeter Pakiraam
            <span class="pull-right">2017-02-11 15:00:00</span>
        </div>
        <div class="panel-body">
            <img src="http://placehold.it/64x64" class="pull-left">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt enim vel elit auctor tristique. Sed vel tellus id felis egestas fermentum vitae a velit. Integer aliquet nisi ac tortor aliquam, id ornare risus accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur metus eros, ullamcorper sed dui sed, facilisis congue est. Curabitur gravida vel ipsum id commodo. Nulla id ligula mollis, pretium lacus id, semper odio.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Peeter Pakiraam
            <span class="pull-right">2017-02-11 15:00:00</span>
        </div>
        <div class="panel-body">
            <img src="http://placehold.it/64x64" class="pull-left">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt enim vel elit auctor tristique. Sed vel tellus id felis egestas fermentum vitae a velit. Integer aliquet nisi ac tortor aliquam, id ornare risus accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur metus eros, ullamcorper sed dui sed, facilisis congue est. Curabitur gravida vel ipsum id commodo. Nulla id ligula mollis, pretium lacus id, semper odio.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Peeter Pakiraam
            <span class="pull-right">2017-02-11 15:00:00</span>
        </div>
        <div class="panel-body">
            <img src="http://placehold.it/64x64" class="pull-left">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt enim vel elit auctor tristique. Sed vel tellus id felis egestas fermentum vitae a velit. Integer aliquet nisi ac tortor aliquam, id ornare risus accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur metus eros, ullamcorper sed dui sed, facilisis congue est. Curabitur gravida vel ipsum id commodo. Nulla id ligula mollis, pretium lacus id, semper odio.
            </p>
        </div>
    </div>
</div>

</body>
</html>