<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{navbar}">
<head>
    <title>feed</title>
</head>
<body>

<div layout:fragment="content">
    <script th:inline="javascript">
        var userIds = [[${userIds}]];
    </script>

    <div class="panel panel-default">
        <div class="panel-heading">New post</div>
        <div class="panel-body">
            <form id="post" th:action="@{/feed}" th:object="${post}" method="post">
                <textarea class="form-control" rows="3" th:field="*{content}"></textarea>
                <button id="postButton" type="submit" class="btn btn-default pull-right">Post</button>
            </form>
        </div>
    </div>

    <div id="feed" th:each="postInfo : ${posts}">
        <div th:replace="~{common :: post (${postInfo})}">
        </div>
    </div>
</div>

<script layout:fragment="fallback">
  fallback.load({
    Stomp: [
      'https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js',
      '/js/stomp.min.js'
    ],
    SockJS: [
      'https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.min.js',
      '/js/sockjs.min.js'
    ],
    feedjs: [
      '/js/feed.js'
    ]
  }, {
    shim: {
      'Stomp': ['jQuery'],
      'SockJS': ['jQuery', 'Stomp'],
      'feedjs': ['Stomp', 'SockJS']
    }
  });
</script>

</body>
</html>