<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{navbar}">
<head>
    <title>friends</title>
</head>
<body>

<div layout:fragment="content">
    <h3>Friend requests</h3>
    <div th:each="friendRequest : ${user.incomingFriendRequests}">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="btn-group pull-right" role="group">
                    <form th:action="@{/friends/accept/{id}(id=${friendRequest.id})}" method="post">
                        <button type="submit" class="btn btn-success">Accept</button>
                    </form>
                    <form th:action="@{/friends/reject/{id}(id=${friendRequest.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form>
                </div>

                <img src="http://placehold.it/64x64" th:src="${@avatarService.getAvatarUrl(friendRequest, 64)}" class="pull-left">
                <h3 th:text="${friendRequest.fullName}"></h3>
            </div>
        </div>
    </div>

    <h3>Friends</h3>
    <div th:each="friend : ${user.friends}">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://placehold.it/64x64" th:src="${@avatarService.getAvatarUrl(friend, 64)}" class="pull-left">
                <h3 th:text="${friend.fullName}"></h3>
            </div>
        </div>
    </div>
</div>

</body>
</html>