<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{navbar}">
<head>
    <title>friends</title>
</head>
<body>

<div layout:fragment="content">
    <th:block th:if="${currentUser.equals(user) && incomingFriendRequestCount > 0}">
        <h3>Friend requests</h3>
        <th:block th:each="friendRequest : ${user.incomingFriendRequests}">
            <div th:replace="~{common :: userPanel (${friendRequest})}"></div>
        </th:block>
    </th:block>

    <h3>Friends</h3>
    <th:block th:each="friend : ${user.friends}">
        <div th:replace="~{common :: userPanel (${friend})}"></div>
    </th:block>
</div>

</body>
</html>