<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{navbar}">
<head>
    <title th:text="#{friends.friends}">friends</title>
</head>
<body>

<div layout:fragment="content">
    <th:block th:if="${currentUser.equals(user) && incomingFriendRequestCount > 0}">
        <h3 id="incoming" th:text="#{friends.incoming.friend.requests}">Incoming friend requests</h3>
        <th:block th:each="friendRequest : ${user.incomingFriendRequests}">
            <div th:replace="~{common :: userPanel (${friendRequest})}"></div>
        </th:block>
    </th:block>

    <h3 id="friends" th:text="#{friends.friends}">Friends</h3>
    <th:block th:each="friend : ${user.friends}">
        <div th:replace="~{common :: userPanel (${friend})}"></div>
    </th:block>

    <th:block th:if="${currentUser.equals(user) && user.outgoingFriendRequests.size() > 0}">
        <h3 id="outgoing" th:text="#{friends.outgoing.friend.requests}">Outgoing friend requests</h3>
        <th:block th:each="friendRequest : ${user.outgoingFriendRequests}">
            <div th:replace="~{common :: userPanel (${friendRequest})}"></div>
        </th:block>
    </th:block>
</div>

</body>
</html>