<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master}">
<head>
    <title>login</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-md-9">
            <img class="img-responsive" th:src="@{/img/potato-md.png}"
                 srcset="/img/potato-xxs.png 480w,
                         /img/potato-xs.png 768w,
                         /img/potato-sm.png 992w,
                         /img/potato-md.png 1200w,
                         /img/potato-lg.png 1920w,
                         /img/potato-xl.png 2360w"
                 sizes="(min-width: 1200px) calc((1170px - 2 * 15px) * 9 / 12),
                        (min-width: 992px) calc((970px - 2 * 15px) * 9 / 12),
                        (min-width: 768px) calc((750px - 2 * 15px) * 12 / 12),
                        calc((100vw - 2 * 15px) * 12 / 12)">
            <!--/* https://ericportis.com/posts/2014/srcset-sizes/ */-->
        </div>
        <div class="col-md-3">
            <h1 id="login-title">potatonet</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Login
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" th:action="@{/login}" method="post">
                        <div class="alert alert-danger" role="alert" th:if="${param.error}">
                            Invalid email or password
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-default">Sign in</button>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="https://localhost:8446/" th:href="@{{domain}/login(domain=${app.domainEid})}" th:fragment="eidButton">
                                    <img th:src="@{/img/id-card-et.svg}" class="btn-eid"/>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="https://localhost:8443/googleLogin">
                                    Google Login
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Register
                </div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-12">
                                <a th:replace="~{:: eidButton}"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>