<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_current_user_id" th:content="${currentUser.id}" th:unless="${currentUser == null}"/>

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">potatonet</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">

    <link th:href="@{/css/master.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav layout:fragment="navbar" th:remove="tag"></nav>

<div class="container" layout:fragment="content">
    Here be content!
</div>


<div class="container">
    <hr/>
    <footer>
        <p class="text-muted text-center">
            <small>
                <span th:text="|build: ${@buildProperties.name} ${@buildProperties.version} (${@buildProperties.time})|" th:if="${hasBuildProperties}"/>
                <span th:text="|git: ${@gitProperties.get('commit.id.describe')} (${@gitProperties.branch})|" th:if="${hasGitProperties}"/>
            </small>
        </p>
    </footer>
</div>

<script th:src="@{/js/fallback.min.js}" ></script>

<!--/* This is for additional script loading which should also be covered with a fallback */-->
<th:block layout:fragment="fallback"></th:block>

</body>
</html>