<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master}">
<head>
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" layout:fragment="navbar" th:remove="none" th:with="active=${#execInfo.processedTemplateName}">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img th:src="@{/img/potato-48.png}"/>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="(*{active} == 'feed')? 'active' : _">
                    <a th:href="@{/}">Feed</a>
                </li>
                <li th:classappend="(*{active} == 'friends')? 'active' : _">
                    <a th:href="@{/users/{userId}/friends(userId=${currentUser.id})}">Friends <span class="badge" th:text="${incomingFriendRequestCount}" th:if="${incomingFriendRequestCount > 0}"></span></a>
                </li>
                <li th:classappend="(*{active} == 'users')? 'active' : _">
                    <a th:href="@{/users}">People</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li th:classappend="(*{active} == 'user')? 'active' : _">
                    <a th:href="@{/users/{userId}(userId=${currentUser.id})}">
                        <img src="http://placehold.it/20x20" class="navbar-img-left" th:src="${@avatarService.getAvatarUrl(currentUser, 20)}">
                        <!--/*@thymesVar id="currentUser" type="ee.potatonet.data.User"*/-->
                        <span th:text="${currentUser.fullName}"></span>
                    </a>
                </li>
                <li th:classappend="(*{active} == 'settings')? 'active' : _">
                    <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li th:classappend="(*{active} == 'settings')? 'active' : _">
                            <a th:href="@{/settings}">Settings</a>
                        </li>
                        <li>
                            <a th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>