<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master}">
<head>
    <link th:href="@{/css/master.css}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" layout:fragment="navbar" th:remove="none" th:with="active=${#execInfo.processedTemplateName}">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Navbar potato logo" th:src="@{/img/potato-48.png}"/>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="(*{active} == 'feed')? 'active' : _">
                    <a th:href="@{/}">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        <span th:text="#{feed.title}">Feed</span>
                    </a>
                </li>
                <li th:classappend="(*{active} == 'friends')? 'active' : _">
                    <a th:href="@{/users/{userId}/friends(userId=${currentUser.id})}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span th:text="#{friends.friends}">Friends</span>
                        <span class="badge" th:text="${incomingFriendRequestCount}" th:if="${incomingFriendRequestCount > 0}"></span>
                    </a>
                </li>
                <li th:classappend="(*{active} == 'users')? 'active' : _">
                    <a th:href="@{/users}">
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        <span th:text="#{users.title}">People</span>
                    </a>
                </li>
                <li th:classappend="(*{active} == 'statistics')? 'active' : _">
                    <a th:href="@{/statistics}">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                        <span th:text="#{statistics.title}">Statistics</span>
                    </a>
                </li>
                <li th:classappend="(*{active} == 'donate')? 'active' : _">
                    <a th:href="@{/donate}">
                        <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                        <span th:text="#{donate.title}">Donate</span>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li th:classappend="(*{active} == 'user')? 'active' : _">
                    <a th:href="@{/users/{userId}(userId=${currentUser.id})}">
                        <img alt="User avatar image" src="http://placehold.it/20x20" class="navbar-img-left" th:src="${@avatarService.getAvatarUrl(currentUser, 20)}">
                        <!--/*@thymesVar id="currentUser" type="ee.potatonet.data.model.User"*/-->
                        <span th:text="${currentUser.fullName}"></span>
                    </a>
                </li>
                <li th:classappend="(*{active} == 'settings')? 'active' : _">
                    <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li th:classappend="(*{active} == 'settings')? 'active' : _">
                            <a th:href="@{/settings}">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                <span th:text="#{settings.title}">Settings</span>
                            </a>
                        </li>
                        <li th:classappend="(*{active} == 'sitemap')? 'active' : _">
                            <a th:href="@{/sitemap}">
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                <span th:text="#{sitemap.title}">Sitemap</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/logout}">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                <span th:text="#{navbar.logout}">Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>