<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{navbar}">
<head>
    <title>profile</title>
</head>
<body>

<div layout:fragment="content">
    <script th:inline="javascript">
        var userId = [[${user.id}]];
    </script>

    <div class="panel panel-default">
        <div class="panel-body">
            <img src="http://placehold.it/256x256" th:src="${@avatarService.getAvatarUrl(user, 256)}" class="pull-left">
            <h2 th:text="${user.name}"></h2>
            <button type="button" class="btn btn-primary">Add friend</button>
        </div>
    </div>


    <div id="posts" th:each="postInfo : ${user.posts}">
        <div th:replace="~{common :: post (${postInfo})}">
        </div>
    </div>
</div>

<script layout:fragment="fallback">
  fallback.load({
    Stomp: [
      'https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js',
      '/js/stomp.min.js'
    ],
    SockJS: [
      'https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.min.js',
      '/js/sockjs.min.js'
    ],
    profilejs: [
      '/js/profile.js'
    ]
  }, {
    shim: {
      'Stomp': ['jQuery'],
      'SockJS': ['jQuery', 'Stomp'],
      'profilejs': ['Stomp', 'SockJS']
    }
  });
</script>

</body>
</html>