<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{navbar}">
<head>
    <title>settings</title>
</head>
<body>

<div layout:fragment="content">
    <form class="form-horizontal" th:action="@{/settings}" method="post" th:object="${passwordSettings}">
        <div class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('*')}" th:text="${error}">
            Error
        </div>
        <div class="alert alert-success" role="alert" th:if="${param.success}">
            Password changed
        </div>
        <div class="alert alert-success" role="alert" th:if="${param.successoauth}">
            Google account successfully registered
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="passwordConfirm" class="col-sm-2 control-label">Password (confirm)</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="passwordConfirm" th:field="*{passwordConfirm}" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <a href="https://localhost:8443/googleLogin">
                Register your account with Google
            </a>
        </div>
    </div>
</div>

</body>
</html>