<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{navbar}">
<head>
    <title th:text="#{user.title}">profile</title>
</head>
<body>

<div layout:fragment="content">
    <script th:inline="javascript">
        var userId = [[${user.id}]];
    </script>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <img src="http://placehold.it/256x256" th:src="${@avatarService.getAvatarUrl(user, 256)}" class="img-rounded">
                </div>
                <div class="media-body">
                    <div class="pull-right" th:insert="~{common :: friendButtons (${user})}"></div>

                    <h2 th:text="${user.fullName}"></h2>
                    <a th:text="#{user.friends}" class="btn btn-link" th:href="@{/users/{userId}/friends(userId=${user.id})}" role="button">Friends</a>
                </div>
            </div>
        </div>
    </div>


    <div id="posts" th:each="postInfo : ${posts}">
        <div th:replace="~{common :: post (${postInfo})}">
        </div>
    </div>
</div>

<th:block layout:fragment="fallback">
    <script th:src="@{/js/fallback-websocket.js}"></script>
    <script>
      fallback.load({
        userjs: [
          '/js/user.js'
        ]
      }, {
        shim: {
          'userjs': ['Stomp', 'SockJS']
        }
      });
    </script>
</th:block>

</body>
</html>