<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{navbar}">
<head>
    <title>profile</title>
</head>
<body>

<div layout:fragment="content">
    <script th:inline="javascript">
        var userId = [[${user.id}]];
    </script>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <img src="http://placehold.it/256x256" th:src="${@avatarService.getAvatarUrl(user, 256)}" class="img-rounded">
                </div>
                <div class="media-body">
                    <div class="pull-right" th:insert="~{common :: friendButtons (${user})}"></div>

                    <h1 th:text="${user.fullName}"></h1>

                    <div class="form-horizontal user-details">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="gender">Gender</label>
                            <div class="col-md-10">
                                <p class="form-control-static" id="gender" th:text="${user.eid.eidCode.gender}"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="birthday">Birthday</label>
                            <div class="col-md-10">
                                <p class="form-control-static" id="birthday" th:text="${user.eid.eidCode.birthDate}"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <p class="form-control-static">
                                    <a class="btn btn-link" th:href="@{/users/{userId}/friends(userId=${user.id})}" role="button">Friends</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="posts">
        <th:block th:each="post : ${posts}">
            <div th:replace="~{common :: postPanel (${post})}"></div>
        </th:block>
    </div>

    <button id="loadButton" type="button" class="btn btn-default">Load</button>
</div>

<th:block layout:fragment="fallback">
    <script th:src="@{/js/fallback-websocket.js}"></script>
    <script>
      fallback.load({
        userjs: [
          '/js/user.js'
        ]
      }, {
        shim: {
          'userjs': ['Stomp', 'SockJS']
        }
      });
    </script>
</th:block>

</body>
</html>